.InputImageBrowser {
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
}

.InputImageBrowser input[type=file] {
    display: none;
}

.InputImageBrowser .file-name {
    display: grid;
    place-items: center;
    padding: 5px;
    flex-grow: 1;
}