.NumberInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 10px;
}

.NumberInput .label {
    text-align: center;
}

.NumberInput .interactable {
    display: flex;
    flex-direction: row;
}

.NumberInput .value-display {
    width: 150px;
    display: grid;
    place-items: center;
    flex-grow: 1;
    text-align: center;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-size: 1.2em;
    background-color: #666;
    color: white;
    margin: 0 1px;
    border-radius: 3px;
}

.NumberInput .value-display:hover {
  background-color: #c6f;
  color: white;
}