.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.ui {
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  padding: 10px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  color: white;
}

.ui > * {
  margin-bottom: 5px;
}

.viewport-container {
  flex: 1 1 auto;
  background-color: #222;
  color: white;
}

.button {
  background-color: #a0f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  padding: 5px 8px;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}

.button-secondary {
  color: white;
  background-color: #666;
  /* border: 1px solid #a0f; */
}

.button:hover {
  background-color: #c6f;
  color: white;
}

.button:active {
  background-color: #eaf;
  color: white;
}

.button:disabled,
.button.disabled {
  color: #666;
  background-color: #999;
  cursor: not-allowed;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}